[user]
    name = Nicolas Ginder
    email = nicolas-ginder@users.noreply.github.com

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[core]
    editor = vim
    pager = less -R

[alias]
    st = status -sb
    co = checkout
    ci = commit -am
    br = branch -a
    pr = pull --rebase
    prc = rebase --continue
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstash = !git stash show -p | git apply -R
    meld = difftool -y -t meld
    amend = commit --amend --no-edit
    aliases = config --get-regexp alias
    df = diff
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files

[push]
    default = upstream
[merge]
	tool = meld
